.doll-container {
  max-height: 100vh;
  max-width: 100vh;
  width: 100%;
  height: 100%;
  object-fit: contain
}

.image-stack-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-stack-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-stack-image-first {
  z-index: 1;
}

.image-stack-image-second {
  z-index: 2;
}



.item-image-button {
  width: 10px;
  height: 10px;

  margin-bottom: 1px;
}

.app-side img {
  opacity: 1;
}
.ant-layout-sider {
  background-color: white !important; /* Add your desired background color here */
}

.ant-layout {
  background-color: white !important; /* Add your desired background color here */
}

.doll-container {
}

